.title
    position fixed
    top 0
    left 0
    right 0
    height 2.75rem
    background #43bb57
    font-size 1.125rem
    color #fff
    text-align center
    line-height 2.75rem
    width 100%
    display: flex
    .back
        position: absolute
        left: 0.8rem
        i
            svg
                color #fff
    .head
        flex 1
    .search
        position: absolute
        right: 0.8rem
.book-detail
    margin-top 2.75rem
    left 0
    background-image:url('../../assets/image/book-image2.jpg')
    .book-head
        box-sizing border-box
        width: 100%;
        height: 10rem;
        padding: 1rem;
        display flex
        .book-left
            width 30%
            img 
                width 100%
                height 8rem
                border 1px solid #fff
                border-radius .4rem
        .book-right
            width 70%
            float left
            padding-left 2rem
            color #ffffff
            h1
                font-size: 1rem
                width: 100%
                height: 2rem
                font-weight 800
                padding-top .2rem
            h3
                font-size: 0.8rem
                width: 100%
                height: 1.625rem
            .rating
                font-size: 0.6rem
                width: 100%
                height: 1.625rem
            .class
                font-size: 0.6rem
                width: 100%
                height: 1.625rem
            .num
                font-size: 0.6rem
                width: 100%
                height: 1.625rem

.content
    padding 0rem 1rem
    h1
        font-size: 1rem
        color: #101010
        line-height: 2.5rem
    p
        font-size: 0.875rem
        line-height: 1.25rem
        margin-bottom: 1rem
        color: #5b5b59
    .new
        border-top: 1px solid #f5f5f5
        height: 2.5rem
        line-height: 2.5rem
        display: flex
        .one
            flex: 1
            font-size: 0.875rem
            color: #101010
            overflow: hidden
        .two
            font-size: 0.875rem
            color: #5b5b59
            i
                position relative
                top 0.2rem
                left 0rem

.book-class
    width: 100%
    background: #fff
    padding: 0 1rem
    box-sizing: border-box
    .txt
        padding: 1rem 0
        height: 1.5rem
        line-height: 1.5rem
        font-size: 1rem
        color: #101010
        span 
            display: inline-block
            width: 3px
            height: 1.125rem
            vertical-align: middle
            margin-right: 0.5rem
            background: #43bb57
    .book-list
        width: 100%
        overflow: hidden
        height 100%
       .book-wrapper
            padding-bottom 0.75rem
            height 100%
            display flex
            flex-flow row nowrap
            .book-item
                height 100%
                box-sizing border-box
                padding-right 1.6rem
                img 
                    width: 5.625rem
                    height: 7.3125rem
                .book-name
                    font-size: 0.875rem;
                    color: #101010;
                    line-height: 2rem;
                    width: 5.625rem;
                    display: -webkit-box;
                    display: -moz-box;
                    -webkit-line-clamp: 1;
                    -moz-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    -moz-box-orient: vertical;
                    overflow: hidden;
                .reader
                    font-size: 0.75rem
                    width: 5.625rem
                    line-height: 1rem
                    overflow: hidden

.use
    text-align center
    line-height 3rem
    font-size .8rem
    color gray
    padding-bottom 4rem
.shelf
    z-index 99
    position: fixed
    left: 0
    right: 0
    bottom: 0
    height: 3.25rem
    display: flex
    box-sizing: border-box
    background: #f0eff5
    border-top: 1px solid #ddd
    .add
        width 30%
        text-align center
        line-height 3.25rem
        color #43bb57
        font-weight 900
    .start
        width 70%
        text-align center
        line-height 3.25rem
        background: #43bb57
        color: #fff
        font-weight 900
